<!DOCTYPE html>
<html>
<head>
	<title>Ajuda</title>
	<body style="background-color: aqua">
</head>
<h1>Ajuda</h1>
<p>Os quebra-cabeças são perfeitos para relaxar e exercitar o cérebro ao mesmo tempo, pois é possível escolher qual dificuldade você deseja jogar (fácil, médio ou difícil). Além de poder jogar os quebra-cabeças diários, que são atualizados quatro vezes ao dia, você pode escolher de jogar um quebra-cabeça de uma categoria (animais, carros etc).
<p> Para começar a jogar o quebra-cabeça identifique as peças semelhantes e unam,Movimente as peças para encaixá-las nos seus respectivos lugares. Não é possível girar as peças;
<p>É possível juntar duas ou mais peças mesmo que elas não estejam no lugar correto;
</p>

<style >
	h1{
		font-size: 77px;
color: #0000ff;
    text-align: center;

	}
	h1:hover{
			color: #ff0000;
	}
	p{
		font-size: 55px;
	font-weight: center;
}


	}
</style>

	<style>
		a{font-size: 40px;
			text-decoration: none;
}
a:hover{
	color: #ff0000;	
}

</style>
<a href="/">voltar</a>
</body>
</html>