<!DOCTYPE html>
<html>
<head>
	<title>Menu</title>
	<strong><h1>Quebra-Cabeça</h1></strong>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/estilo.css">
</head>
<body>
	<input type="checkbox" id="chec">
	
	<nav>
		<ul>
			<li><a href="inicio.html">Jogar</a></li>
			<li><a href="sobre.html ">Sobre</a></li>
            <li><a href="contato.html">Contato</a></li>
            <li><a href="ajuda.html">Ajuda</a></li>
            <li><a href="https://www.google.com.br">Saída</a></li>
		</ul>
	</nav>

</body>
</html>