<!DOCTYPE html>
<html>
<head>
	
	<title>Sobre</title>


<meta charset="utf-8">
<style>
body{
 margin: 0px;
 padding: 0px;
 background-color: aqua;

}	
h1{
	font-size: 88px;
    text-align: center;
	
}
p{
	font-size: 55px;
}                 


}
</style>


</head>
<body>
	<h1>Sobre</h1>
<p>para entrar em contato conosco envie uma mensagem para o nosso e-mail: 
<p><em>lamartinenogueira7@gmail.com</em> </p>
<p><em>rivaldorad@hotmail.com</em> </p>
<p><em>paulo16226@gmail.com</em> </p>
<p><em>gabrielpedroal2@gmail.com</em> </p>



</p>
<style>
		h1{
		font-size: 77px;
color: #0000ff;
    text-align: center;

	}
	h1:hover{
			color: #ff0000;
	}
	p{
		font-size: 55px;
	font-weight: center;
}

</style>
	<style>
		a{font-size: 40px;
			text-decoration: none;
}
a:hover{
	color: #ff0000;	
p:hover:{
	color:#ff0000;	
}


</style>
<a href="/">voltar</a>

</body>
</html>

